{% extends "media_classification/base.html" %}
{% load staticfiles %}
{% block media_classification_project_list %} class="active" {% endblock %}
{% block content %}
{% if items %}
Available projects:
<table class="table">
<th>Project name</th>
<th>Research project</th>
<th>Details</th>
<th>Edit</th>
{% for project, can_view, can_edit in items %}
<tr>
	<td>{{ project.name }}</td>
	<td>{{ project.research_project.name }}</td>
	<td>
		{% if can_view %}
		<a href="{% url "media_classification:project_detail" project.id %}"><span class="glyphicon glyphicon-search"></span></a>
		{% endif %}
	</td>
	<td>
		{% if can_edit %}
		<a href="{% url "media_classification:project_update" project.id %}"><span class="glyphicon glyphicon-pencil"></span></a>
		{% endif %}
	</td>
</tr>
{% endfor %}
</table>
{% else %}
No project available. Start one now!
{% endif %}
{% endblock content %}
