{% extends "media_classification/base.html" %}
{% load staticfiles %}
{% block content %}

<div class="panel panel-default">
	<div class="panel-heading">
	Sequence details:
	</div>
	<div class="panel-body">
		<ul class="list-group">
			<li class="list-group-item"> Name: {{ sequence.name }} </li>
			<li class="list-group-item"> Description: {{ sequence.description }} </li>
			<li class="list-group-item"> Project: {{sequence.project.name}} </li>
			<li class="list-group-item"> Created by: {{sequence.user.username}} </li>
		</ul>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
	Resources in sequence:
	</div>
	<div class="panel-body">
		<table class="table">
		<tbody>
		{% for r in sequence.resources.all %}
			<tr>
				<td><a href="{{r.get_absolute_url}}">{{r.name}}</a></td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
	</div>
</div>
<a class="btn btn-md btn-success" href="{% url "media_classification:sequence_update" sequence.id %}">Edit <span class="glyphicon glyphicon-pencil"></span></a>

{% endblock content %}
