{% load staticfiles %}
<script src="{% static "jquery.js" %}"></script>
<a href="{% url "index" %}">Tr@pper Home</a>
</br>
Hello
<b>
{% if user.is_authenticated %}
	<a href="{{user.userprofile.get_absolute_url}}">{{user.username}}<img src="{% static "icon/profile.png" %}" /></a>
	(<a href="{% url "accounts:logout" %}">Logout</a>)
	{% if user.is_staff %}
		| <a href="{% url "admin:index" %}">AdminSite</a>
	{% endif %}
	{% if user.userprofile.has_unread_messages %}
	<a href="{% url "messaging:message_inbox" %}"><img width=25px src="{% static "icon/message_new.png" %}" /></a>
	{% else %}
	<a href="{% url "messaging:message_inbox" %}"><img width=25px src="{% static "icon/message.png" %}" /></a>
	{% endif %}
{% else %}
	anonymous (<a href="{% url "accounts:login" %}">Login</a>)
{% endif %}
</b>
| <a href="{% url "storage:index" %}">Storage</a>
| <a href="{% url "animal_observation:index" %}">AnimalObservation</a>
|
<br/>
<br/>
{% block master_content %}{% endblock master_content %}

