{% extends "base.html" %}

{% block master_content %}
<div class="jumbotron">
	<h1>Welcome to Tr@pper!</h1>
<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec non bibendum eros. Nunc lacinia sem sed eros euismod eleifend. Proin et magna vel risus pretium tempus volutpat at nulla. Duis nec felis cursus, adipiscing tortor in, luctus nulla. Vivamus vitae ipsum malesuada, ornare urna a, adipiscing tellus. Quisque iaculis orci quis justo cursus laoreet ut non massa. Suspendisse potenti. Mauris faucibus sem sit amet suscipit suscipit. Duis vehicula consequat mauris, a dictum turpis pharetra non. Nullam tempus libero eu turpis placerat dapibus.
</p>
</div>
{% endblock master_content %}
