{% extends "base.html" %}

{% block master_content %}
<div class="jumbotron">

	<h2>Welcome to Trapper!</h2>
	<p>
	Trapper is a web-based content management system aimed at processing and analysis of the media resources on wildlife and animal behavioral patterns.
	The project is an intiative of the
	<a href="http://www.zbs.bialowieza.pl/">Mammal Research Institute of the Polish Academy of Sciences,</a>
	with the collaboration of
	<a href="http://pb.edu.pl">Bialystok University of Technology</a>.
	<br />
	<br />

	Please login to see more features of the system.
	If you have suggestions on how to improve Trapper you can visit us on our IRC channel: <b>#trapper</b> on <b>irc.freenode.net</b>.
	<br />
	<br />

	In case of problems, you can also submit a message to the user <b>admin</b> using the built-in messaging system.
	<br />
	<br />

	We hope you will have fun using the system.
	<br />
	-Trapper development team.
	</p>
</div>
{% endblock master_content %}
