{% extends "storage/base.html" %}
{% load staticfiles %}
{% block storage_resource_list %}class="active"{% endblock %}
{% block content %}

<div class="panel panel-default">
	<div class="panel-heading">Filter resources:</div>
	<div class="panel-body">
	<form class="navbar-form" role="search" action="" method="get">
		<div class="form-group">
			{% for field in filtering_form %}
			<label>{{field.label}}</label> {{field}}
			{% endfor %}
		</div>
		<button class="btn btn-primary" type="submit">Apply</button>
	</form>
	</div>
</div>
<p>
{% if resources %}
<h3>Available resources:</h3>
	{% include "storage/resource_iter.html" %}

	{% if is_paginated %}
	<ul class="pagination">
		<li><a href="?{{filter_url}}&page=1">&laquo;</a></li>
		{% if page_obj.has_previous %}
		<li><a href="?{{filter_url}}&page={{ page_obj.previous_page_number }}">&lsaquo;</a></li>
		{% else %}
		<li class="disabled"><span>&lsaquo;<span class="sr-only">(current)</span></span></li>
		{% endif %}

		{% if page_obj.number > 2 %}
		<li class="disabled"><span>...<span class="sr-only">(current)</span></span></li>
		{% endif %}

		{% if page_obj.number > 1 %}
		<li><a href="?{{filter_url}}&page={{ page_obj.number|add:"-1" }}">{{ page_obj.number|add:"-1" }}</a></li>
		{% endif %}

		<li class="active"><span>{{ page_obj.number }}<span class="sr-only">(current)</span></span></li>

		{% if page_obj.number|add:"1" <= page_obj.paginator.num_pages %}
		<li><a href="?{{filter_url}}&page={{ page_obj.number|add:"1" }}">{{ page_obj.number|add:"1" }}</a></li>
		{% endif %}

		{% if page_obj.number|add:"2" <= page_obj.paginator.num_pages %}
		<li class="disabled"><span>...<span class="sr-only">(current)</span></span></li>
		{% endif %}

		{% if page_obj.has_next %}
		<li><a href="?{{filter_url}}&page={{ page_obj.next_page_number }}">&rsaquo;</a></li>
		{% else %}
		<li class="disabled"><span>&rsaquo;<span class="sr-only">(current)</span></span></li>
		{% endif %}

		<li><a href="?{{filter_url}}&page={{ page_obj.paginator.num_pages }}">&raquo;</a></li>
	</ul>
	{% endif %}
{% else %}
No resources available.
{% endif %}
</p>
<p>
	<a class="btn btn-sm btn-success" href="{% url "storage:resource_create" %}">Upload a resource <span class="glyphicon glyphicon-cloud-upload"></span></a>
</p>
{% endblock content %}
