{% extends "storage/base.html" %}
{% load staticfiles %}
{% block storage_resource_list %}class="active"{% endblock %}
{% block content %}

<div class="panel panel-default">
	<div class="panel-heading">Filter resources:</div>
	<div class="panel-body">
	<form class="navbar-form" role="search" action="" method="get">
		<div class="form-group">
			{% for field in filtering_form %}
			<label>{{ field.label }}</label> {{ field }}
			{% endfor %}
		</div>
		<button class="btn btn-sm btn-primary" type="submit">Apply</button>
	</form>
	</div>
</div>
<p>
{% if resources %}
<h3>Resources:</h3>

	{# Displays pagination at the top and the bottom of the resources list #}

	{% if is_paginated %}
	{% load common_tags %}
	{% pagination_menu page_obj 4 previous_filter_params %}
	{% endif %}

	{% include "storage/resource_iter.html" %}

	{% if is_paginated %}
	{% pagination_menu page_obj 4 previous_filter_params %}
	{% endif %}
{% else %}
No resources available.
{% endif %}
</p>
<p>
	<a class="btn btn-sm btn-success" href="{% url "storage:resource_create" %}">Upload a resource <span class="glyphicon glyphicon-cloud-upload"></span></a>
</p>
{% endblock content %}
