{% extends "storage/base.html" %}
{% load staticfiles %}
{% block storage_resource_list %}class="active"{% endblock %}
{% block content %}
<p>
{% if resources %}
	Available resources:
	{% for resource in resources %}
	{% include "storage/resource_iter.html" %}
	{% endfor %}
{% else %}
No resources available.
{% endif %}
</p>
<p>
	<a class="btn btn-sm btn-success" href="{% url "storage:resource_create" %}">Upload a resource <span class="glyphicon glyphicon-cloud-upload"></span></a>
</p>
{% endblock content %}
