{% extends "storage/base.html" %}
{% load staticfiles %}

{% block content %}
{% if collections %}
	Available collections:
	<table border=1>
	<tr>
	<th>Collection name</th>
	<th>Details</th>
	<th>Update</th>
	<th>Delete</th>
	<th>AO Request</th>
	</tr>
	
	{% for collection in collections %}
	<tr>
	<td> <label> {{collection.name}} </label> </td>
	<td> <a title="Show details" href="{% url "storage:collection_detail" collection.id %}"><img alt="Show Details" src="{% static "icon/detail.png" %}" /></a> </td>
	<td> <a title="Update collection" href="{% url "storage:collection_update" collection.id %}"><img alt="Update Collection" src="{% static "icon/update.png" %}" /></a> </td>
	<td> <a title="Delete collection" href="{% url "storage:collection_delete" collection.id %}"><img alt="Delete Collection" src="{% static "icon/delete.png" %}" /></a> </td>
	<td> <a title="Request for Animal Observation project" href="{% url "storage:collection_request" collection.id %}"><img alt="Request for Animal Observation Project" src="{% static "icon/plus.png" %}" /></a> </td>
	</tr>
	{% endfor %}
	</table>
	<a title="Create new collection" href="{% url "storage:collection_create" %}">Create new collection <img src="{% static "icon/add_collection.png" %}" /></a>
{% else %}
No collections available.
{% endif %}
{% endblock content %}
