{% extends "animal_observation/base.html" %}
{% load staticfiles %}
{% block content %}
<h1>{{ project.name }}</h1>
<br/>

<h3>Researchers in this project:</h3>
<table class="table">
<th>User</th>
<th>Role</th>
{% for role in roles %}
<tr><td>{{role.user.username}}</td><td>{{role.get_name_display}}</td></tr>
{% endfor %}
</table>
<h3>Resource Collections:</h3>
<div class="panel-group" id="accordion">
	{% for collection in project.collections.all %}
	<div class="panel panel-default">
		<a data-toggle="collapse" data-parent="#accordion" href="#collection{{collection.pk}}">
		<div class="panel-heading">
			<h4 class="panel-title">
				{{collection.name}}
			</h4>
		</div>
		</a>
		<div id="collection{{collection.pk}}" class="panel-collapse collapse out">
			<table class="table">
			<th>Name</th>
			<th>Owner</th>
			<th>Uploader</th>
			<th>Details</th>
			<th>Classify</th>
			{% for resource in collection.resources.all %}
			<tr>
			<td>{{ resource.name }}</td>
			<td>{{ resource.owner.username }}</td>
			<td>{{ resource.uploader.username }}</td>
			<td><a href="{% url "storage:resource_detail" resource.id %}" title="Details"><span class="glyphicon glyphicon-search"></span></a></td>
			<td><a href="{% url "animal_observation:classify" project.id resource.id %}" title="Classify Resource"><span class="glyphicon glyphicon-eye-open"></span></a></td>
			</tr>
			{% endfor %}
			</table>
		</div>
	</div>
	{% endfor %}
</div>
{% endblock content %}
