{% extends "animal_observation/base.html" %}
{% load staticfiles %}
{% block content %}
<h1>{{ project.name }}</h1>
Your role in this project:
{% if role %}
{{role.get_name_display}}
{% else %}
None
{% endif %}
<br/>

Resource Collections:
<ul>
{% for collection in project.resource_collections.all %}
<li>
{{collection.name}}
<ul>
	<table>
	{% for resource in collection.resources.all %}
	<tr>
	<td>{{ resource.name }}</td>
	<td><a href="{% url "storage:resource_detail" resource.id %}" title="Details"><span class="glyphicon glyphicon-search"></span></a></td>
	<td><a href="{% url "animal_observation:classify" project.id resource.id %}" title="Classify Resource"><span class="glyphicon glyphicon-eye-open"></span></a></td>
	</tr>
	{% endfor %}
	</table>
</ul>

</li>
{% endfor %}
</ul>
{% endblock content %}
