{% extends "animal_observation/base.html" %}
{% load staticfiles %}
{% block content %}
{% if items %}
	Available projects:
	<ul>
	{% for project, can_view, can_edit in items %}
	<li>
	<b>{{ project.name }}</b>
	{% if can_view %}
	<a href="{% url "animal_observation:project_details" project.id %}"><img src="{% static "icon/detail.png" %}" /></a>
	{% endif %}
	{% if can_edit %}
	<a href="{% url "animal_observation:project_update" project.id %}"><img src="{% static "icon/update.png" %}" /></a>
	{% endif %}
	</li>
	{% endfor %}
	</ul>
{% else %}
No project available. Start one now!
{% endif %}
{% endblock content %}
