{% extends "animal_observation/base.html" %}
{% load staticfiles %}
{% block content %}
<h1>{{ project.name }}</h1>
<br/>

<h3>Researchers in this project:</h3>
<table class="table">
<th>User</th>
<th>Role</th>
{% for role in project.projectrole_set.all %}
<tr><td>{{role.user.username}}</td><td>{{role.get_name_display}}</td></tr>
{% endfor %}
</table>
<h3>Resource Collections for this project:</h3>
<div class="panel-group" id="accordion">
	{% for pc in project.projectcollection_set.all %}
	<div class="panel panel-default">
		<div class="panel-heading">
		<a data-toggle="collapse" data-parent="#accordion" href="#collection{{pc.pk}}">{{pc.collection.name}}</a>
		Active: <span class="glyphicon glyphicon-{% if pc.active %}ok{% else %}remove{% endif %}"></span>
		Crowd-Sourcing: <span class="glyphicon glyphicon-{% if pc.cs_enabled %}ok{% else %}remove{% endif %}"></span>
		</div>
		<div id="collection{{pc.pk}}" class="panel-collapse collapse out">
			<table class="table">
			<th>Name</th>
			<th>Owner</th>
			<th>Uploader</th>
			<th>Details</th>
			<th>Classify</th>
			{% for resource in pc.collection.resources.all %}
			<tr>
			<td>{{ resource.name }}</td>
			<td>{{ resource.owner.username }}</td>
			<td>{{ resource.uploader.username }}</td>
			<td><a href="{% url "storage:resource_detail" resource.id %}" title="Details"><span class="glyphicon glyphicon-search"></span></a></td>
			<td><a href="{% url "animal_observation:classify" project.id resource.id %}" title="Classify Resource"><span class="glyphicon glyphicon-eye-open"></span></a></td>
			</tr>
			{% endfor %}
			</table>
		</div>
	</div>
	{% endfor %}
</div>
{% endblock content %}
