{% extends "base.html" %}
{% load staticfiles %}
{% block master_content %}

<table class="table">
	<tr><td>Username</td><td>{{u.username}}</td></tr>
	<tr><td>First name</td><td>{{u.first_name}}</td></tr>
	<tr><td>Last name</td><td>{{u.last_name}}</td></tr>
	<tr><td>E-mail address</td><td>{{u.email}}</td></tr>
</table>

{% if user.is_authenticated and u.pk == user.pk %}
<p>
<a class="btn btn-sm btn-primary" href="{% url "accounts:userprofile_update" user.pk %}" role="button">Edit profile <span class="glyphicon glyphicon-pencil"></span></a>
</p>
{% endif %}
{% endblock master_content %}
