{% extends "base.html" %}

{% block master_content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<form method="post" action="{% url 'django.contrib.auth.views.login' %}">
{% csrf_token %}
<div class="input-group">
	<span class="input-group-addon glyphicon glyphicon-user"></span>
	<input type="text" class="form-control" id="id_{{form.username.name}}" name="{{form.username.name}}" placeholder="{{form.username.label}}">
</div>
<div class="input-group">
	<span class="input-group-addon glyphicon glyphicon-lock"></span>
	<input type="text" class="form-control" id="id_{{form.password.name}}" name="{{form.password.name}}" placeholder="{{form.password.label}}">
</div>
	<input type="submit" class="btn btn-primary" value="Sign In" />
	<input type="hidden" name="next" value="{{ next }}" />
</div>
</form>

{% endblock %}
