{% if message_list %}
<h3>Available messages:</h3>
	<table class="table" border=1>
	<th>Subject</th>
	<th>Sent on</th>
	<th>From</th>
	<th>To</th>
	{% for message in message_list %}
	<tr>
		<td>
		<a href="{% url "messaging:message_detail" message.id %}">
			{{message.subject}}{% if not message.date_received and message.user_to == user %}<b> (new) </b> {% endif %}
		</a>
		</td>
		<td>{{message.date_sent}}</td>
		<td>{{message.user_from.username}}</td>
		<td>{{message.user_to.username}}</td>
	</tr>
	{% endfor %}
	</table>
{% else %}
No messages available!
{% endif %}
