{% extends "research/base.html" %}
{% load staticfiles %}
{% block content %}
<h1>{{ project.name }}</h1>
<br/>

<div class="panel panel-primary">
	<div class="panel-heading">
		Project description:
	</div>
	<div class="panel-body">
		<p>
		{% if project.description %}
			{{ project.description | safe}}
		{% else %}
			This project has no description yet.
		{% endif %}
		</p>
	</div>
</div>

<div class="panel panel-primary">
	<div class="panel-heading">
	Researchers in this project:
	</div>
	<div class="panel-body">
		<table class="table">
		<th>User</th>
		<th>Role</th>
		{% for role in project.projectrole_set.all %}
		<tr><td>{{role.user.username}}</td><td>{{role.get_name_display}}</td></tr>
		{% endfor %}
		</table>
		<a class="btn btn-md btn-success" href="{% url "storage:resource_create" %}">Add researchers <span class="glyphicon glyphicon-user"></span></a>
	</div>
</div>

<div class="panel panel-primary">
	<div class="panel-heading">
		Resource collections for this project:
	</div>
	<div class="panel-body">
		<div class="panel-group" id="accordion">
			{% for pc in project.collections.all %}
			<div class="panel panel-default">
				<div class="panel-heading">
				{{pc.name}} <a data-toggle="collapse" data-parent="#accordion" href="#collection{{pc.pk}}"><span class="glyphicon glyphicon-chevron-down"></span></a>
				</div>
				<div id="collection{{pc.pk}}" class="panel-collapse collapse out">
					<table class="table">
					<th>Name</th>
					<th>Owner</th>
					<th>Uploader</th>
					<th>Details</th>
					<th>Classify</th>
					{% for resource in pc.resources.all %}
					<tr>
						<td>{{ resource.name }}</td>
						<td>{{ resource.owner.username }}</td>
						<td>{{ resource.uploader.username }}</td>
						<td><a href="{% url "storage:resource_detail" resource.id %}" title="Details"><span class="glyphicon glyphicon-search"></span></a></td>
						<td><a href="{% url "media_classification:classify" project.id resource.id %}" title="Classify Resource"><span class="glyphicon glyphicon-eye-open"></span></a></td>
					</tr>
					{% endfor %}
					</table>
				</div>
			</div>
			{% endfor %}
		</div>

	</div>
</div>

<div class="panel panel-primary">
	<div class="panel-heading">
		Resources for this project:
	</div>
	<div class="panel-body">
	  <table class="table">
	    <th>Name</th>
	    <th>Owner</th>
	    <th>Uploader</th>
	    <th>Details</th>
	    <th>Classify</th>
	    {% for resource in project.resources.all %}
	    <tr>
	      <td>{{ resource.name }}</td>
	      <td>{{ resource.owner.username }}</td>
	      <td>{{ resource.uploader.username }}</td>
	      <td><a href="{% url "storage:resource_detail" resource.id %}" title="Details"><span class="glyphicon glyphicon-search"></span></a></td>
	      <td><a href="{% url "media_classification:classify" project.id resource.id %}" title="Classify Resource"><span class="glyphicon glyphicon-eye-open"></span></a></td>
	    </tr>
	    {% endfor %}
	  </table>
	</div>
</div>

<div class="panel panel-primary">
	<div class="panel-heading">
		Classification projects:
	</div>
	<div class="panel-body">
		<table class="table">
			<tr>
				<th>Name</th>
				<th>Crowd Sourcing</th>
				<th>Details</th>
			</tr>
			{% for cproject in project.classification_projects.all %}
			<tr>
				<td>{{ cproject.name }}</td>
				<td>{{ cproject.cs_enabled }}</td>
				<td><a href="{% url "media_classification:project_detail" cproject.id %}" title="Details"><span class="glyphicon glyphicon-search"></span></a></td>
			</tr>
			{% endfor %}
		</table>
		<a class="btn btn-md btn-success" href="{% url "media_classification:project_create" project.id %}">New classification project <span class="glyphicon glyphicon-eye-open"></span></a>
	</div>
</div>

{% endblock content %}
