{% extends "research/base.html" %}
{% load staticfiles %}
{% block content %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{% block header %}
<script type="text/javascript" src="{% static "jquery.formset.js" %}"></script>
<script type="text/javascrip">
	$(function() {
		$('#collectionForm tbody tr').formset({
			prefix: '{{ collection_formset.prefix }}',
			formCssClass: 'dynamic_collection_formset'
		});
		$('#projectroleForm tbody tr').formset({
			prefix: '{{ projectrole_formset.prefix }}',
			formCssClass: 'dynamic_projectrole_formset'
		});
	});
</script>

{{form.media}}

{% endblock header %}

<form id="projectForm" class="form-horizontal" action="" method="post">
{% csrf_token %}
<div class="form-group">
	<label for="inputEmail3" class="col-sm-2 control-label">Project name:</label>
	<div class="col-sm-10">
		{{ form.name }}
	</div>
</div>

<div class="form-group">
	<label class="col-sm-2 control-label">Project description:</label>
	<div class="col-sm-10">
		{{form.description}}
	</div>
</div>

<div class="form-group">
	<label class="col-sm-2 control-label">Users in this project:</label>
	<div class="col-sm-10">
		{{ projectrole_formset.management_form }}
		<table id="projectroleForm" class="table">
			<thead>
				<th>Username</th>
				<th>Role</th>
			</thead>
			<tbody>
		{% for form in projectrole_formset.forms %}
			{{form.id}}
			<tr>
				<td>{{form.user}}</td>
				<td>{{form.name}}</td>
				<td>{% if form.instance.pk %}{{form.DELETE}}{% endif %}</td>
			</tr>
			</tbody>
		{% endfor %}
		</table>
	</div>
</div>

<input class="btn btn-primary" type="submit" value="Update" />
</form>

{% endblock content %}
